* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
  }
  

  
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Rubik:wght@300&display=swap');

  
  * {
    font-family: 'Oswald', sans-serif;
  }
  
  section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .footer-distributed {
    background-color: #ffccee;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: black;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #800000;
    border-radius: 2px;
    font-size: 20px;
    color: #ffcccc;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
 
  /* Footer */
  
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }


  .text h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: left;
    color: #800000;
    margin-left: 30px;
  }

 
  .onama p {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font: italic;
    margin-left: 30px;
    margin-right: 30px;
  
  }
  ul {
    list-style: square inside url("sqpurple.gif");
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font: italic;
  }

  .info p {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font: italic;
    margin-left: 30px;
  }


  .pitanja h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: left;
    color: #800000;
    margin-top: 20px;
    text-align: center;

  }
 .pitanja p {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-align: center;
  color: #800000;
  
 }
 
 .dostava h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-align: left;
  color: #800000;
  margin-left: 30px;
  margin-top: 20px;
 }

 .dostava p {
  
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font: italic;
  margin-left: 30px;
  text-align: left;
 }

.povrat h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: left;
    color: #800000;
    margin-top: 20px;
    margin-left: 30px;
}

.povrat p {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  text-align: left;
  color: #800000;
  margin-left: 30px;
}

.povrat a:hover {
  background-color: #f1f1f1;
  color: #800000;
  text-decoration: none;
}

.povrat a:link {
  color: #800000;
  text-decoration: none;
}

.povrat a:visited {
  color: #800000;
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: left;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* STRANICA S ODJEĆOM */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #d6d2d2;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.card {
    border: none;
    border-radius: 10px
}

.percent {
    padding: 5px;
    background-color: red;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    height: 35px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}



.img-container {
    position: relative
}

.img-container .first {
    position: absolute;
    width: 100%
}

.img-container img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.product-detail-container {
    padding: 10px
}


label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dc3545;
    color: #dc3545;
    font-size: 10px;
    border-radius: 50%;
    text-transform: uppercase
}

label.radio input:checked+span {
    border-color: #dc3545;
    background-color: #dc3545;
    color: #fff
}

.breadcrumb{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 100px;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #800000;
  text-decoration: none;
  font-family: 'Oswald' sans-serif;
}
ul.breadcrumb li a:hover {
  color: #800000;
  text-decoration: none;
}

.bojali{
  background-color: #800000;
}


#kosarica{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 15;
  margin-left:auto;
  margin-right: auto;
  background-color: rgb(248 227 241);;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}
.kolicina_input{
  width: 50%;
}
#toggle_btn{
  position: absolute;
  top:0;
  right:0;
  height: 20px;
  background-color: rgb(245, 200, 230);;
  cursor:pointer;
  width: 5%;
}
#total_hrk_span{
  font-size: 20px;
  color: black;
}
#buttons_cart_div{
  position: absolute;
  right:10px;
  bottom: 3px;
}
button:disabled{
  cursor: not-allowed;
  pointer-events: all !important;
}

#artikliDiv{
  min-width:50%;

  position: fixed;
  top: 40%;
  left: 50px;
  right: 50px;

  border: 1px solid black;
  opacity: 0;
}
#hideItems{
  position: absolute;
  top:0;
  right:0;
  height: 20px;
  background-color: white;
  cursor:pointer;
  width: 5%;
}
.disable-click{
  pointer-events:none;
  opacity: 0.2;
}